{% extends "users/base.html" %}

{% block head_content %}
<title>Platzigram sing in</title>
{% endblock %}

{% block container %}

{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}

<form class="justify-content-center text-center" method="POST" action="{% url "login" %}">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control mb-2" type="text" placeholder="Username" name="username" />
    </div>
    <div class="form-group">
        <input class="form-control" type="password" placeholder="Password" name="password" />
    </div>

    <button class="btn btn-primary btn-block mt-3" type="submit">Sign in</button>

</form>

<p class="mt-4">Don't have an account yet? <a href="{% url 'users:signup' %}">Sign up here</a></p>

{% endblock %}